.lightboxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
}

.lightboxContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  margin-top: 20px;
  flex: 1;
  display: flex;
  align-items: center;
}

.lightboxCard {
  color: black;
  background: white;
  padding-top: 7px;
  padding-left: 15px;
  border-radius: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  text-align: center;
  max-width: 85%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 10;
  width: 100%;
  padding: 0 15px;
}

.imageContainer {
  cursor: zoom-in;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s;
}

.zoomed {
  transform: scale(2);
  cursor: zoom-out;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

/* New styles for fade transitions */
.fade-enter,
.fade-exit {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  opacity: 1;
  transition: opacity 0.2s ease;
}
