@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --canopusBlue: #003349;
  --canopusYellow: #cfbc7b;
  --CanopusBlueLight: #2bd4c3;
  --buildingText: #6A6851;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-canopus-blue: var(--canopusBlue);
  --color-canopus-yellow: var(--canopusYellow);
  --color-canopus-blue-light: var(--canopusBlueLight);
  --font-sans: var(--font-poppins);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  overflow-x: hidden;
}

.items-center {
  justify-items: center;
}
